h1 {
      text-align: center;
}
nav {   text-align: center;
  
}
nav + a {
padding: 10px;
background: green;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

figure {
  text-align: center;
}

figcaption {   
  text-align: center;
 font-family:9;
  
}

#featured-property  p {
   text-align: center;
   width: 800px;
}

deta

